{% extends '::main.html.twig' %}

{% block title %}
{% block page_title %}{% endblock %}
{% endblock%}
        
        
{% block body %}
<div class="columns">
    <div class="seven-columns">
        <div>
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </div>
    {% block right_hint %}{% endblock right_hint %}
</div>
{% endblock %}