{% extends '::main.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{% stylesheets
        '@AnyxCrosswordBundle/Resources/public/css/styles/form.css'
	%}
        <link type="text/css" rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block title %}
{% block page_title %}{% endblock %}
{% endblock%}
        
        
{% block body %}
<div class="columns">
    <div class="seven-columns">
        <div>
            {% block fos_user_content %}{% endblock fos_user_content %}
        </div>
    </div>
    {% block right_hint %}{% endblock right_hint %}
</div>
{% endblock %}