{% block tags_widget %}
{% spaceless %}

<div class="b-input-tags-list">
{% for tag in value|split(',') %}
    {% if tag is not empty %}
    <span class="tag j-tag">{{tag}}</span>
    {% endif %}
{% endfor %}
</div>

<input type="hidden" name="{{full_name}}" value="{{value}}" class="{{attr.class|default('')}}" />

{% endspaceless %}
{% endblock tags_widget %}