{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %} 
    <ul class="errors form-errors red">
        {% for error in errors %}
            <li>{{ error.messageTemplate|trans(error.messageParameters) }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}
