{% if services %}
<span class="social-message">{% trans %}Login through social services{% endtrans %}:</span>
<ul class="social-services">
	{% for code,url in services %}
		<li><a class="{{ code }}" href="{{ url }}"></a></li>
	{% endfor %}
</ul>
<div style="clear: both;"></div>
{% endif %}