{% extends '::main.html.twig' %}

{% set title = "Новости" %}
        
{% block page_title %}
    {{ title }}
{% endblock %}

{% block title %}
    {{ title }}
{% endblock %}

{% block page_description %}
Новости проекта конструктор кроссвордов
{% endblock %}

{% block page_keywords %}{% spaceless %}
Конструктор кроссвордов, редактор кроссвордов
{% endspaceless %}{% endblock %}


{% block body %}

<div class="results clear">
    <div class="page-content">
        <p>
        Главная и единственная на данный момент новость - мы запустили сайт!
        </p>
        <p>
        Пока идет тестирование и исправление найденных ошибок, нового фунционала не добавлять не планируется, 
        однако, вы можете повлиять на это! Пишите на в твиттер, или оставляйте своеи пожелания на сайте.
        Мы постараемся всё учесть.
        </p>
        
        <p>
            <a href="https://twitter.com/crosswordeditor" class="twitter-follow-button" data-show-count="false" data-lang="ru">Читать @crosswordeditor</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </p>
    </div>
</div>
{% endblock %}
