.crossword-editor {
    position: relative;
}

.crossword-editor TABLE, .crossword-editor TD {
	border: 1px solid #999;
	border-collapse: collapse; 
}

.crossword-editor TD {
	
}
.crossword-editor TD DIV {
	width: 18px;
	height: 18px;
}

/* Word Form */

.word-form INPUT, .word-form TEXTAREA {
    width: 280px;
}

.word-form LABEL {
    display: inline;
}

/* Word */
TABLE.word-table, .word-table TD {
	cursor: move;
	border: 2px solid #000;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}
TABLE.word-table {
	position: absolute;
}
.word-table TD DIV {
	width: 17px;
	height: 17px;
	min-width: 17px;
	min-height: 17px;
	text-align: center;
}
.word-preview {
	width: 250px;
	height: 250px;
	position: relative;
	z-index: 2;
}
/* Status Bar */
#status {
    float: right;
    margin-right: 11px;
    margin-top: -5px;
    cursor: pointer;
    position: relative;
}
.status-text {
    position: absolute;
    right: 0px;
    bottom: 1px;
    width: 237px;
}