.crossword-editor {
    position: relative;
}

.crossword-editor TABLE, .crossword-editor TD {
	border: 1px solid #999;
	border-collapse: collapse; 
}

.crossword-editor TD {
	
}
.crossword-editor TD DIV {
	width: 18px;
	height: 18px;
}

/* Word Form */

.word-form INPUT, .word-form TEXTAREA {
    width: 260px;
}

.word-form LABEL {
    display: inline;
}

/* Word */
TABLE.word-table, .word-table TD {
	cursor: move;
	border: 2px solid #000;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}
TABLE.word-table {
	position: absolute;
}
.word-table TD DIV {
	width: 17px;
	height: 17px;
	min-width: 17px;
	min-height: 17px;
	text-align: center;
}
.word-preview {
    margin: 5px 0px;
	width: 260px;
	height: 260px;
	position: relative;
	z-index: 2;
}
/* Status Bar */
#status {
    float: right;
    margin-right: 11px;
    margin-top: -5px;
    cursor: pointer;
    position: relative;
}
.status-text {
    position: absolute;
    right: 0px;
    bottom: 20px;
    width: 253px;
}
.direction-selector {
    width: 100%;
}
.direction-selector .button {
    width: 41%;
}

#status .tag {
    font-size: 11px;
    line-height: 13px;
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.6);
}
.status-text .block-arrow {
    right: 15px;
    left: auto;
}
.saving-message {
    padding-left: 35px;
}