HTML {
  width:100%;
  height:100%
}
HTML BODY {
    background: rgb(0,3,43); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(0,3,43,1) 0%, rgba(7,226,234,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(0,3,43,1)), color-stop(100%,rgba(7,226,234,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(-45deg,  rgba(0,3,43,1) 0%,rgba(7,226,234,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(-45deg,  rgba(0,3,43,1) 0%,rgba(7,226,234,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(-45deg,  rgba(0,3,43,1) 0%,rgba(7,226,234,1) 100%); /* IE10+ */
    background: linear-gradient(-45deg,  rgba(0,3,43,1) 0%,rgba(7,226,234,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00032b', endColorstr='#07e2ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    min-height: 100%;
    height: auto !important;
    height: 100%;
    position: relative;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.content {
    background: #fff;
    padding: 20px;
    -webkit-box-shadow: 0 2px 5px black;
    -moz-box-shadow: 0 2px 5px black;
    box-shadow: 0 2px 5px black;
    min-height: 300px;
    margin-bottom: 40px;
}

.dummy {
    height: 170px;
}

BODY FOOTER {
    display: block;
    height: 130px;
    margin-top: -130px;
    padding: 20px 0px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

header {
    height: 2.9em;
}

.footer-menu a {
    color: #999;
}
.footer-menu li {
  list-style: none;
  padding-right: 10px;
  display: inline;
}

.copyright {
    padding-top: 45px;
    text-align: right;
    color: #bfbfbf;
}
.copyright a {
    color: #777;
}
.container .columns:last-child {
    margin-bottom: 0px;
}

.header-container {
    padding: 0px 20px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.5);
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    -moz-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
    color: #bfbfbf;
    font-weight: bold;
    font-family: Corbel, Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Bitstream Vera Sans, Liberation Sans, Verdana;
    line-height: 2em;
    height: 2em;
    padding: 5px 20px;
    font-size:	14px;
}

.top-menu {
}
.nav-right {
    float: right;
    font-weight: bold;
}

.top-menu, .top-menu li {
    position: relative;
    float: left;
}

.header-container a {
    color: #fff;
    padding: 0px 10px;
}
.header-container a:hover {
    color: #FEFFBC;
}
.header-container li a:hover {
    padding-top: 0;
    padding-bottom: 8px;
}
.header-container li a:hover:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.header-container .user-menu a {
    padding: 0;   
}
.ie8 .header-container li a:hover:after {
    display: block;
}
.no-generatedcontent .header-container li a:hover {
    padding-bottom: 4px;
    border-bottom: 4px solid #66ccff;
}
.header-container .header-form {
    display: inline;
}
.header-container .header-form .search-input {
    padding-bottom: 3px;
    padding-top: 6px;
}

#logo {
    width: 159px;
    height: 107px;
    background: url(/img/logo.png) no-repeat;
    margin-top: 15px;
}
.logo-container {
    position: relative;
}
#site-name {
    position: absolute;
    color: #fff;
    text-shadow:1px 1px #000;
    font-size: 26px;
    top: 17px;
    left: 145px;
    width: 60px;
    line-height: 24px;
}

BODY FOOTER.black-gradient {
    border-top: 1px solid #555;
}

TABLE .td-center, TABLE .th-center {
    text-align: center;
}

TEXTAREA {
    resize: vertical;
}
.word-form TEXTAREA {
    resize: none;
    margin-bottom: 5px;
}
.menu-subtitle {
    float: left;
    margin-top: -5px;
    margin-left: 2px;
}

.menu-subtitle ul {
    display: inline;
}

.menu-subtitle ul li {
    display: inline;
    padding-right: 10px;
}

.main-content {
    padding: 0px 20px 21px;
}

DIV.profile-error {
    display: none;
    position: fixed;
    width: 840px;
    top: 135px;
    left: 50%;
    margin-left: -445px;
    background-color: #F2DEDE
}

h1, h2, h3, h4, h5, h6 {
    color: #555;
}

.social-services {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: inline;
}

.social-message {
    float: left;
    line-height: 20px;
}

.social-services a {
    display: block;
    float: left;
    height: 24px;
    padding-left: 24px;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-left: 4px;
}
.social-services LI {
    margin: 0px;
    padding: 0px;
}
.social-services A.facebook {
    background-image: url(/img/icons/facebook.png);
}
.social-services a.twitter {
    background-image: url(/img/icons/twitter.png);
}
.social-services a.vkontakte {
    background-image: url(/img/icons/vkontakte.png);
}

div.hint {
    font-family: 'Tahoma', sans-serif;
    background-color: #e4f8ff;
    color: #258cae;
    border-color: #258cae;
}

/* Forms */

.form p > .button, .form p > .input {
    margin-top: 0px;
}
.form .checkbox {
    background: none;
    border-color: none;
    line-height: 26px;
}
.form .submit-container {
    margin: 15px 0px;
}

.form .button {
    height: 28px;
}

ul.form-errors {
    margin: 16px 0px;
}
.form-errors li {
    list-style: none;
}

.login-form .input-unstyled {
    width: 235px;
}

.form .columns > div {
    margin-bottom: 0px;
}

/** Main */
#main-title h1 {
    font-size: 32px;
}

/** Profile */
.profile-container .simple-table > thead > tr > th, .simple-table > thead > tr > td {
    font-size: 13px;
}

/** Lists */
div .pagerfanta a, div .pagerfanta span {
    color: #2D9AD3;
    border-color: #2D9AD3;
    padding: 0.25em 0.5em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;    
}

div .pagerfanta .current {
    background: none;
    border-color: #CCCCFF;
    color: #CCCCFF;
}

.results-info {
    display: block;
    color: #003d86;
}

/* List */
.bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.bullets > li {
    padding: 0 0 0 1.3em;
    margin-bottom: 1em;
    position: relative;
}
.bullets > li:before {
    display: block;
    position: absolute;
    content: '';
    top: 0.65em;
    left: 0;
    width: 9px;
    height: 9px;
    margin-top: -4px;
    background: url(/img/sprites.png) no-repeat -712px -35px;
}

.saving-message {
    padding-left: 35px;
}
.incorrect-solving-block {
    height: 120px;
}
.congratulations-block {
    width: 500px;
    height: 280px;
    position: relative;
}
.share-button {
    display: block;
    width: 110px;
    margin: 5px;
}