.crossword-solver {
	position: relative;
    min-height: 580px;
    height: 100%;
}
/* Word */
TABLE.solver-word-table, .solver-word-table TD {
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}
.solver-word-table TD {
	text-align: center;
}
.crossword-solver .word-container {
	position: absolute;
}
.solver-word-table INPUT {
	border: none;
	display: block;
	width: 18px;
	height: 18px;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
}
.definitions-panel ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

.definitions-panel li:hover {
    background-color: #06CBD6;
    color: #fff;
}