.crossword-solver {
	position: relative;
    min-height: 580px;
    height: 100%;
}
/* Word */
TABLE.solver-word-table, .solver-word-table TD {
	border: 1px solid #000;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}
.solver-word-table TD {
	text-align: center;
}
.crossword-solver .word-container {
	position: absolute;
}
.solver-word-table INPUT {
	border: none;
	display: block;
	width: 18px;
	height: 18px;
	text-align: center;
	padding: 0px;
	margin-bottom: 0px;
}
.definitions-panel ul {
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}
.definitions-panel li span {
    cursor: default;
}
.definitions-panel li span:hover {
    color: #02506D;
}
.word-number {
    font-size: 10px;
    position: absolute;
    display: block;
    left: 2px;
    top: -1px;
    z-index: 10;
}

.b-rating {
    position: absolute;
    right: 0px;
    top: -5px;
    font-size: 28px;
    background: #fff;
    padding: 0px 5px;
}

.b-total-rating {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    background: url('/img/total-rating.png') no-repeat;
    text-align: center;
    line-height: 64px;
    color: #000;
}
.solver-word-table input {
    color: #000;
}